################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Source/.vs
/Source/DataManager/obj/Debug
/Source/MarketShareApp/obj/Debug
/Source/MarketShareProjectReleaseBuilder/bin/Debug
/Source/MarketShareProjectReleaseBuilder/obj/Debug
/Source/packages
/Source/ProspectingProject/bin
/Source/ProspectingProject/obj/Debug
/Source/ProspectingReleaseBuilder/bin/Debug
/Source/ProspectingReleaseBuilder/obj/Debug
/Source/ProspectingTaskScheduler/obj/Debug
/Source/SeeffProspectingAuthorisationService/SeeffProspectingAuthService/SeeffProspectingAuthService/bin
/Source/SeeffProspectingAuthorisationService/SeeffProspectingAuthService/SeeffProspectingAuthService/obj/Debug
/Source/DataManager/bin/Debug
/Source/MarketShareApp/Assets
/Source/MarketShareApp/bin
/Source/MarketShareApp/Scripts
/Source/ProspectingProject/ProspectingProject.csproj.user
/Source/ProspectingTaskScheduler/bin
/SeeffSpatial/SeeffSpatial/Seeff.Spatial.Service/bin
/SeeffSpatial/SeeffSpatial/Seeff.Spatial.Service/obj/Debug
/SeeffSpatial/SeeffSpatial/Seeff.Spatial.Service/Seeff.Spatial.Service.csproj.user
/SeeffSpatial/SeeffSpatial/Seeff.Spatial.WebApp/bin
/SeeffSpatial/SeeffSpatial/Seeff.Spatial.WebApp/obj/Debug
/SeeffSpatial/SeeffSpatial/Seeff.Spatial.WebApp/Seeff.Spatial.WebApp.csproj.user
/SeeffSpatial/SeeffSpatial/.vs/config
/SeeffSpatial/SeeffSpatial/.vs/SeeffSpatial/v14/.suo
/Source/ProspectingTaskScheduler/ProspectingTaskScheduler.csproj.user
/Source/DataManager/obj/Release
/Source/MarketShareApp/obj/Release
/Source/MarketShareProjectReleaseBuilder/obj/Release
/Source/ProspectingProject/obj/Release
/Source/ProspectingReleaseBuilder/obj/Release
/Source/ProspectingTaskScheduler/obj/Release
/Source/ProspectingTaskScheduler/Properties/PublishProfiles
/Source/SeeffProspectingAuthorisationService/SeeffProspectingAuthService/SeeffProspectingAuthService/obj/Release
/Source/DataManager/bin/Release
/Source/MarketShareApp/Properties/PublishProfiles
/Source/MarketShareApp/MarketShareApp.csproj.user
/SeeffSpatial/SeeffSpatial/Seeff.Spatial.Service/Properties/PublishProfiles
/SeeffSpatial/SeeffSpatial/Seeff.Spatial.Service/obj/Release
/SeeffSpatial/SeeffSpatial/Seeff.Spatial.WebApp/obj/Release
/SeeffSpatial/SeeffSpatial/Seeff.Spatial.WebApp/Properties/PublishProfiles
/Source/SeeffProspectingAuthorisationService/SeeffProspectingAuthService/SeeffProspectingAuthService/Properties/PublishProfiles
/Source/ProspectingProject/ExportOutput/277
*.user
/SeeffSpatial/SeeffSpatial/.vs/SeeffSpatial/v15
/Source/ProspectingProject/Properties/PublishProfiles
