<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!-- DEVELOPMENT-->
    <add name="ls_baseConnectionString" connectionString="Data Source=louise-pc;Initial Catalog=ls_base;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="bossConnectionString" connectionString="Data Source=louise-pc;Initial Catalog=boss;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="seeffConnectionString" connectionString="Data Source=louise-pc;Initial Catalog=seeff;Integrated Security=True" providerName="System.Data.SqlClient" />
    <!--PRODUCTION (LIVE) -->
    <!--<add name="ls_baseConnectionString" connectionString="Data Source=41.222.226.215;Initial Catalog=ls_base;User id=marketshare_@dmin;Password=M@R_Je6#s_9;"
      providerName="System.Data.SqlClient" />
    <add name="bossConnectionString" connectionString="Data Source=41.222.226.213;Initial Catalog=boss;User id=boss_admin;Password=1nePtunE864;"
      providerName="System.Data.SqlClient" />
    <add name="seeffConnectionString" connectionString="Data Source=41.222.226.215;Initial Catalog=seeff;User id=marketshare_@dmin;Password=M@R_Je6#s_9;"
      providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Runtime.Caching, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" />
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ISeeffProspectingAuthService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:63146/SeeffProspectingAuthService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISeeffProspectingAuthService" contract="AuthService.ISeeffProspectingAuthService" name="BasicHttpBinding_ISeeffProspectingAuthService" />
    </client>
  </system.serviceModel>
  
  <appSettings>
    <add key="seeff_spatial_service" value="http://localhost/Seeff.Spatial.Service/" />
    <add key="add_agency_permission" value="72095a56-d66b-4ef5-babb-0de0a3843316,95568323-61cd-456b-9934-34bd17754a57,62a85a9d-be7a-4fad-b704-a55edb1d338f,216b59e6-efd0-41cf-823e-0bd1525652d8,f2be7d6a-93a2-4f3a-9d28-ee4301a53048" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>