
 .comboSelect {
        width: 150px;
    }
    .comboSelectBox {
        position: relative;
    }
    .comboSelectBox select {
        width: 100%;
        font-weight: bold;
    }
    .comboOverSelect {
        position: absolute;
        left: 0; right: 0; top: 0; bottom: 0;
    }
    .comboCheckboxes {
        display: none;
        border: 1px #dadada solid;
        position: absolute;
        background-color: white;
        width: 150px;
    }
    .comboCheckboxes label {
        display: block;
    }
    .comboCheckboxes label:hover {
        background-color: #1e90ff;
    }