
.contentExpander {
    font-family: Verdana;
    font-size: 12px;
}

.expanderItemHeader {
    display: inline-block;
    padding: 10px;
    /*padding-left:5px;*/
    border: 1px solid;
    border-color: #A9A9A9;
    background-color: lavender;
    border-radius:3px;
    width:95%;    
     vertical-align: middle;
}

.expanderItemHeader:hover {
    cursor: pointer;
}

.expanderItemContent {
    display: none;
    /*margin: 10px 10px;*/
    border: 1px solid;
    border-color: #A9A9A9;

    padding: 10px;
    border-radius:3px;
    width:95%;
    overflow-y:auto;
}

.expanderItemIcon {
    vertical-align: middle;
    padding-right: 20px;
}

.expanderItemText {
    font-size: 12px;
    font-style: oblique;
    vertical-align:middle;
}