<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataManager.Properties.Settings.ls_baseConnectionString"
            connectionString="Data Source=learnit-dev;Initial Catalog=ls_base;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DataManager.Properties.Settings.bossConnectionString"
            connectionString="Data Source=learnit-dev;Initial Catalog=boss;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DataManager.Properties.Settings.seeffConnectionString"
            connectionString="Data Source=learnit-dev;Initial Catalog=seeff;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>