.phoneContactSection {
    /*display: inline-block;*/
}

.emailContactSection {
    /*display: inline-block;*/
}

.contact-itemType {
    margin-right:5px;
    display: inline-block;
}

.contact-phoneContent {
        margin-right:5px;
    display: inline-block;
    width: 120px; height: 20px;
}

.contact-emailContent {
       margin-right:5px;
    display: inline-block;
    width: 250px; height: 20px;
}

.contact-itemDelete {
        margin-right:5px;
        padding-top: 3px;
    display: inline-block;
    cursor: pointer;
}

.contact-itemPrimary {
        margin-right:5px;
        padding-top: 3px;
    display: inline-block;
    cursor: pointer;
}

.addNewItemBtn {
    margin-top: 5px;
     display: block;
}

.contact-newItemSplitter {
    padding: 0px;
    margin: 0px;
}
